<app-settings-navbar> </app-settings-navbar>
<div class="container">
 <div class="sidebar">
   <app-setting-layout></app-setting-layout>
 </div>
 <div class="main-content">
       <header>Privacy and Safety</header>
       <div class="row">
         <ul>
          <li>Data collection and sharing: Rantr is transparent with the data we collect from our users. There are no advertisements on this site so no information is given to a third party. All the data we collect is securely stored in our database. The only data we collect from the user is the username, password, email, and of course everything contained within the posts!</li>
          <li>User control: Users have control over all the data shared on the platform! Once a post is deleted it is removed from the database and is not stored anywhere else. Rantr is for the people by the people!</li>
          <li>Safety and security: Rantr prides itself on maintaining a safe environment for our community. There is an email available for users to report a post or account (see security and account access), and our team will determine whether it is worthy of deletion. We have a zero tolerance policy for racism, homophobia, nudity, and other harmful language/imagery.</li>
         </ul>
       </div>   
 </div>
</div>
