<div class="d-flex-container pt-5">
  <div class="row justify-content-center">
    <div class="col-sm-4">
      <div class="card">
        <div class="card-header">Username
          <div class="text">Date</div>
        </div>
        <div class="card-body">Content</div>
        <div class="card-footer text-center">
          <button (click)="updateCount()" type="submit" class="btn me-1">👍
            <div class="text">{{count}}</div>
          </button>
          <button type="submit" class="btn me-1">👎
            <div class="text">0</div>
          </button>
          <button type="submit" class="btn me-1">😃
            <div class="text">0</div>
          </button>
          <button type="submit" class="btn me-1">😑
            <div class="text">0</div>
          </button>
          <button type="submit" class="btn me-1">😂
            <div class="text">0</div>
          </button>
          <button type="submit" class="btn me-1">🤨
            <div class="text">0</div>
          </button>
          <button type="submit" class="btn">😍
            <div class="text">0</div>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>