<div class="d-flex container-fluid justify-content-center pt-0">
    <div class="d-flex-container-fluid text-center borderbox">
    <ul class="nav nav-pills justify-content-center">
        <li class="nav-item">
          <a routerLink="/recommended-threads" routerLinkActive="activate" class="nav-link textcolor">Recommended</a>
        </li>
        <li class="nav-item">
          <a routerLink="/my-threads" routerLinkActive="activate" class="nav-link textcolor">My Posts</a>
        </li>
      </ul>
    </div>
    </div>
