<div class="container-flex">
    <hr>
    <form class="d-flex-container text-center pt-4">
        <div class="row mb-3 justify-content-center">
          <div class="col-sm-4 form-floating">
            <input type="password" class="form-control" id="inputNewPassword" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword" class="ps-4">New Password</label>
          </div>
        </div>
        <div class="pt-4">
            <a routerLink="/account-details" href="#" class="btn changePwd">Change Password</a>
          </div>
      </form>

</div>
