<app-profile-navbar></app-profile-navbar>
<app-threadlist-navbar></app-threadlist-navbar>

<div class="container">
  <div class="current-info">
    <h4>Current Email: {{ email }}</h4>
    <h4>Current Username: {{ username }}</h4>
  </div>

  <form (ngSubmit)="updateUserInfo()" #userInfoForm="ngForm">
    <div class="form-group">
      <label for="email">New Email address</label>
      <input type="email" class="form-control" id="email" name="email" [(ngModel)]="newEmail" required>
    </div>
    <div class="form-group">
      <label for="username">New Username</label>
      <input type="text" class="form-control" id="username" name="username" [(ngModel)]="newUsername" required>
    </div>
    <div class="form-group">
      <label for="password">New Password</label>
      <input [type]="showPassword ? 'text' : 'password'" class="form-control" id="password" name="password" [(ngModel)]="password">
      <button (click)="toggleShowPassword()" type="button">{{ showPassword ? 'Hide' : 'Show' }} Password</button>
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
  </form>
</div>
