<app-profile-navbar></app-profile-navbar>
<div class="container">
 <div class="sidebar">
   <app-setting-layout></app-setting-layout>
 </div>
 <div class="main-content">
       <header class="my-auto mx-auto">About</header>
       <div class="row">
        <p>Welcome to Rantr, a unique platform where you can vent your frustrations and express your opinions without fear of judgment or repercussions. We are a team of passionate college students studying computer science, who understand the importance of having a space to voice your thoughts. With Rantr, you can share your experiences and ideas anonymously and receive reactions from other users who can relate to your feelings. Our goal is to provide a safe and inclusive community where you can be yourself and connect with others who share your views. So go ahead, let it all out, and join us on this exciting journey of expressing ourselves freely!</p>

        <p>From the minds of Dylan Caldwell, Ryan Evans, Emma Glover, Sam Holroyd, Malone Ingham, Luke Pupilli, & Connor White </p>
 </div>
</div>
