<form class="d-flex-container text-center pt-4" (ngSubmit)="signIn(inputUsername.value, inputPassword.value)" ngForm>
  <div class="row mb-3 justify-content-center">
    <div class="col-sm-4 form-floating">
      <input
        type="email"
        class="form-control"
        id="inputUsername"
        placeholder="Username"
        #inputUsername
        required
      />
      <label for="inputUsername" class="ps-4">Email</label>
    </div>
  </div>
  <div class="row mb-3 justify-content-center pt-3">
    <div class="col-sm-4 form-floating">
      <input
        type="password"
        class="form-control"
        id="floatingPassword"
        placeholder="Password"
        #inputPassword
        required
      />
      <label for="floatingPassword" class="ps-4">Password</label>
    </div>
  </div>
  <div class="pt-4">
    <button type="submit" class="btn signin">Sign in</button>
  </div>
  <div class="pt-4">
    <a routerLink="/create-account" href="#" class="link-dark">Click here to create an account</a>
  </div>
</form>
