 <!-- <app-profile-navbar></app-profile-navbar> -->
 <div>
    <div class="sidebar">
        <button class="previous round" onclick="history.back()">&#8249;</button>
        
        
        <a href="SecurityandAccountAcesss" class="sidebar-item">Security and Account Access</a>
        <a href="PrivacyandSafety" class="sidebar-item">Privacy and Safety</a>
        <a href="Notifications" class="sidebar-item">Notifications</a>
        <a href="About" class="sidebar-item">About</a>
    
          
    </div>

</div>
