<button class="previous round" onclick="history.back()">&#8249;</button>
<app-profile-navbar></app-profile-navbar>


<!-- luke below -->

    <div id="container">
        
        <div class="offcanvas-body" id="canvas" >
            <div class="header">
            <h5 class="offcanvas-title" id="SettingsLabel">Settings</h5>
            </div>
            <div class="offcanvas-body">
                <div class = "col">
                    <div class = "row">
                        <a routerLink = "Security and Account Access">Security and Account Access</a>
                    </div>
                    <div class = "row">
                        <a routerLink = "Privacy and Safety">Privacy and Safety</a>
                    </div>
                    <div class = "row">
                        <a routerLink = "Notifications">Notifications</a>
                    </div>
                    <div class = "row">
                        <a routerLink = "About">About</a>
                    </div>
                </div>
            </div>
        </div>
        <div class = "Security and Account Access">
            <p>data for specific link here, should be to the right of sidebar, still working on this</p>
        </div>
    </div>

