<div class="container-fluid padding">
    <div class="text-center account-details">
        Account Details
    </div>
    <div class="row">

        <div class="col-1"> </div>

        <div class="col-2">
            <p class="text-center text-border text-details">
                User Name:
            </p>
        </div>

        <div class="col-3 text-start">
            *Display UserName Here*
        </div>

        <div class="col-1"></div>

        <div class="col-2">
            <p class="text-center text-border text-details">
                User ID:
            </p>
        </div>

        <div class="col-3 text-start">
            *Display UserID Here*
        </div>
        
    </div>
</div>