header{
    text-align: center;
    text-decoration: solid;
    font-size: larger;
    font-weight: 750 ;
    position:relative;
    padding-right:30%;

}
.container{
    display: flex;
    flex-direction: row;
}

.sidebar {
    width: 25%;
    /* Additional styles for the sidebar go here */
  }
.main-content {
    width: 75%;
    /* Additional styles for the main content go here */
  }
  .row{
    padding:1%;
  }