 <app-settings-navbar> </app-settings-navbar>
 <div class="container">
  <div class="sidebar">
    <app-setting-layout></app-setting-layout>
  </div>
  <div class="main-content">
        <header>Security and Account Access</header>
        <div class="row">
          
            <div class="col">

              <div class="row">
             
              Password requirements: Password must contain
                <ul>
                  <li class="listitem">at least 8 letters total</li>
                  <li class="listitem">1 capital letter</li>
                  <li class="listitem">1 symbol</li>
                </ul>
              <a routerLink="/account-details" routerLinkActive="active">Click here to Change Password</a>
               
              </div>
              <div class="row">             
              Report abuse: Report any abuse of suspicious activity to Rantrsupport@gmail.com 
              </div>
              <div class="row">
              Always ensure that your data is protected. Rantr will never ask for your personal info.
            </div>
        </div>

    
  </div>
</div>