 <app-settings-navbar> </app-settings-navbar>
 <div class="container">
  <div class="sidebar">
    <app-setting-layout></app-setting-layout>
  </div>
  <div class="main-content">
        <header>Security and Account Access</header>
        <div class="row">
            <div class="col">

              <div class="row">
             
              Password requirements: Password must contain at least 8 characters in total.
              <span class ="changePassword" routerlink ="/account-details" routerLink="active">Click here to change password</span>
               
              </div>
              <div class="row">
              Account recovery:
              </div>     
              <div class="row">
              Data protection:
              </div>
              <div class="row">             
              Report abuse: Report any abuse of suspicious activity to Rantr@gmail.com 
              </div>
              <div class="row">
              Always ensure that your data is protected. Rantr will never ask for your personal info.
            </div>
          </div>
        </div>

    
  </div>
</div>