<div class="container-flex">
    <hr>
    <form class="d-flex-container text-center pt-4">
        <div class="row mb-3 justify-content-center">
          <div class="col-sm-4 form-floating">
            <input type="username" class="form-control" id="inputUsername" id="floatingUsername" placeholder="Username">
            <label for="Username" class="ps-4">New Username</label>
          </div>
        </div>
        <div class="pt-4">
          <a routerLink="/account-details" href="#" class="btn changeUN">Change Username</a>
        </div>
      </form>

</div>
