hr {
    border: none;
    border-top: 2px solid rgb(119, 119, 119);
    margin: 20px 0;
  }
  .changeUN {
    text-align: center;
    background-color: rgb(222, 48, 48);
    color: white;
    font-weight: bold;
    border-radius: 30px;
    font-size: 14px;
    width: 150px;
    block-size: 40px;
}