.rantr {
    font-size: 35pt;
    transform: rotate(20deg);
}
.navbar{
    height: 110px;
}
.createthread {
    text-align: center;
    background-color: rgb(222, 48, 48);
    color: white;
    font-weight: bold;
    border-radius: 30px;
    font-size: 14px;
    width: 120px;
    block-size: 40px;
  }
  /*
  .notification {
    background-color: #555;
    color: white;
    text-decoration: none;
    padding: 15px 26px;
    position: relative;
    display: inline-block;
    border-radius: 2px;
  }
  */
  .notification .badge {
    position: absolute;
    top: -10px;
    right: -10px;
    padding: 5px 10px;
    border-radius: 50%;
    background: red;
    color: white;
  }
